h1,h2,h3{
    font-family: Lato, sans-serif;
}
body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}

#print_button {
    background-color: #007fff;
    color: #fff;
}
#output_title{
    text-align: center;
    display: none;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
select {
    width: 200px;
}
.title_name{
    font-family: Lato, sans-serif;
}
.controls_button{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1%;
    cursor: pointer;
    width: 45%;
}
.hero_image {
    background-color: #4CAF50; /* Green */
}
.footer {
    background-color: #0b89e6; /* Blue */
}
.spacer{
    background-color: #ffbf00; /* Yellow */
}
.copy_text{
    background-color: #afafaf; /* Gray */
}
.social_icons{
    background-color: #ad04cc; /* Purple */
}
.address{
    background-color: #d77ce8; /* Light Purple */
}
.footer_image{
    background-color: #d77ce8; /* Light Purple */
}
.cart_one_product{
    background-color: #a20a3e; /* Dark Red */
}
.cart_three_product{
    background-color: #a20a3e; /* Dark Red */
}
.hello_image{
    background-color: #005604; /* Dark Green */
}
.hello_copy_border{
    background-color: #005604; /* Dark Green */
}
.copy_text_border{
    background-color: #005604; /* Dark Green */
}
.cart_header_image{
    background-color: #68f56f; /* Light Green */
}
.subtotal_cta{
    background-color: #616161; /* Light Green */
}
.cta_subtotal{
    background-color: #616161; /* Light Green */
}
.centered_cta{
    background-color: #000; /* Light Green */
}
.line_spacer{
    background-color: #ff9900;
}
.clear_all{
    background-color: #f1454b; /* Red */
}
.print_html{
    background-color: #fff;
    color: #000 !important;
    border: 1px solid #000;
}
.hero_image,
.footer,
.spacer,
.copy_text,
.social_icons,
.address,
.cart_one_product,
.hello_image,
.cart_header_image,
.subtotal_cta,
.line_spacer,
.centered_cta,
.footer_image,
.cart_three_product,
.cta_subtotal,
.hello_copy_border,
.copy_text_border{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Lato, sans-serif;
}
.delete_button{
    float: right;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

#rendered_html{
    width: 100%;
    display: none;
    min-height: 400px;
}