#html_demo,
#html_demo tr td,
#html_demo tr td table,
#html_demo tr td a table tbody tr td{
	border-spacing: 0px;
	padding: 0px;
	font-family: Lato, sans-serif;
	margin: 0px;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 600px;
}
.outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
}
.inner {
    padding: 20px !important;
}
.smaller-inner {
    padding: 10px !important;
}
.contents {
    width: 100%;
}
.h1 {
    font-size: 21px;
    font-weight: bold;
    Margin-bottom: 18px;
}
.h2 {
    font-size: 18px;
    font-weight: bold;
    Margin-bottom: 12px;
}
.full-width-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* One column layout */
.one-column .contents {
    text-align: left;
}
.one-column p {
    font-size: 14px;
    Margin-bottom: 10px;
    Margin-top: 10px;
}

/*Two column layout*/
.two-column {
    text-align: center;
    font-size: 0;
    padding-bottom: 5px !important;
}
.two-column .column {
    width: 100%;
    max-width: 280px;
    display: inline-block;
    vertical-align: top;
}
.two-column .contents {
    font-size: 14px;
    text-align: left;
}
.two-column img {
    width: 100%;
    max-width: 280px;
    height: auto;
}
.two-column .text {
    padding-top: 10px !important;
}

/*Three column layout*/
.three-column {
    text-align: center;
    font-size: 0;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.three-column .column {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.three-column img {
    width: 100%;
    max-width: 180px;
    height: auto;
}
.three-column .contents {
    font-size: 14px;
    text-align: center;
}
.three-column .text {
    padding-top: 10px !important;
}

/*Four column layout*/
.four-column {
    text-align: center;
    font-size: 0;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.four-column .column {
    width: 100%;
    max-width: 130px;
    display: inline-block;
    vertical-align: top;
}
.four-column img {
    width: 100%;
    max-width: 130px;
    height: auto;
}
.four-column .contents {
    font-size: 14px;
    text-align: center;
}
.four-column .text {
    padding-top: 10px !important;
}

.bold-text{
    font-weight: bold;
}

.display-change{
    display: block;
}
.border-image{
  border-top: 0px;
    border-bottom: 0px;
}
